{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "browser": true,
    "worker": true
  },
  "rules": {
    "arrow-body-style": "off",
    "consistent-return": "off",
    "func-names": "off",
    "max-classes-per-file": "off",
    "no-restricted-globals": "off",
    "no-underscore-dangle": "off"
  },
  "globals": {
    "SharedWorkerGlobalScope": false
  }
}
