{
  parser: 'babel-eslint',
  extends: 'airbnb-base',
  env: {
    browser: true,
    worker: true,
  },
  rules: {
    'no-underscore-dangle': 'off',
  },
  globals: {
    "SharedWorker": false,
    "SharedWorkerGlobalScope": false,
  },
}